
.gray-wraper {
    background: #f5f4f4;
}
.container {
    max-width: 970px;
} 
.image-holder {
    overflow: hidden;
    height: 100%;
}
.image-holder img {
    width: 100%;
}
ul {
    list-style: none;
    padding-left: 0;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background: #247ad2;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.navbar-default .navbar-toggle:hover .icon-bar,
.navbar-default .navbar-toggle:focus .icon-bar {
    background: #fff;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}


/*///////logo-line////////*/
.logo-line {
    padding-top: 33px;
    padding-bottom: 17px;
    background: #292929;
}
.logo-line a {
    color: #fffefe;
    font-family: "Segoe UI";
    font-size: 17px;
    font-weight: 300;
    line-height: 18px;
    text-decoration: none;
    -webkit-transition: color .5s;
    -o-transition: color .5s;
    transition: color .5s;
}
.logo-line a:hover {
    color: #247ad2;
    -webkit-transition: color .2s;
    -o-transition: color .2s;
    transition: color .2s;    
}
.logo-line .main-logo .image-holder {
    max-width: 182px;
}
.logo-line .main-logo {
    position: relative;
    top: -14px;
}
.logo-line .email {
    display: inline-block;
    margin-left: 57px;
}
.logo-line .phone {
    margin-left: 53px;
}
.logo-line .email img {
    margin-right: 4px;
}
.logo-line .language a {
    display: inline-block;
    margin-left: 35px;
    -webkit-transition: color .5s;
    -o-transition: color .5s;
    transition: color .5s;
}
.logo-line .language a:hover {
    -webkit-transition: color .2s;
    -o-transition: color .2s;
    transition: color .2s; 
}
.main-nav .navbar-default {
    background: transparent;
    border-radius: 0;
    margin-bottom: 0;
    border-bottom: none;
}
.main-nav .navbar-default li {
    height: 100px;
}
.main-nav .navbar-default li:first-child a {
    border: none;
    padding-left: 44px;
}
.main-nav .navbar-default li a  {
    display: inline-block;
    padding: 38px 34px;
    color: #292929;
    font-family: "Segoe UI";
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    border-left: 1px solid #e5e2e2;
    height: 100px;
    overflow: hidden;
}
.main-nav .navbar-default li.active a,
.main-nav .navbar-default li:hover a {
    color: #247ad2;
    position: relative;
    background: transparent;

}
.main-nav .navbar-default li.active a:after,
.main-nav .navbar-default li:hover a:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background: #247ad2;
    height: 3px;
    width: 100%;
}
.main-nav .navbar-collapse {
    padding: 0;
}

/*///////////main-slider///////////*/
.main-slider .to-shadow {
    background: #000;
    opacity: .6;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2;
    top: 0;
}
.main-slider .bxslider li {
    background: #000;
}
.main-slider .bx-viewport,
.items .bx-viewport,
.tecnical-desc .bx-viewport {
    border: none; 
    left: 0;
    box-shadow: none;
}
.main-slider .bx-default-pager {
    display: none;
}
.main-slider .bx-wrapper .bx-controls-direction a {
    width: 27px;
    height: 47px;
    margin-top: -47px;
}  
.main-slider .bx-wrapper .bx-controls-direction a:hover {
    -webkit-filter: brightness(10) saturate(10);
} 
.main-slider .bx-wrapper .bx-next {
    background: url(../img/icons/right.png) no-repeat 0 1px;
    right: 126px;
}
.main-slider .bx-wrapper .bx-prev {
        background: url(../img/icons/left.png) no-repeat 0 1px;
        left: 126px;
}
.items .bx-wrapper .bx-next {
    background: url(../img/icons/left-nav.png) no-repeat 0 1px;
        left: 10px;
        height: 47px;
}
.items .bx-wrapper .bx-prev {
    background: url(../img/icons/right-nav.png) no-repeat 0 1px;
        right: 6px;
        left: auto;
        height: 47px;
}
.items .bx-wrapper .bx-next:hover,
.items .bx-wrapper .bx-prev:hover {
    -webkit-filter: brightness(10);
}
.main-slider .bxslider li .content-holder {
    position: absolute;
    top: 0;
    z-index: 3;
    text-align: center;
    padding-top: 82px;
    width: 100%;
}
.main-slider .bxslider li .content-wraper {
    width: 970px;
    margin: 0 auto;
    padding-left: 162px;
}
.main-slider .bxslider li .content-holder .h-holder {
    width: 550px;
    text-align: left;
}
.main-slider .bxslider li .content-holder h1 {
    color: #247ad2;
    font-family: "Segoe UI";
    font-size: 72px;
    font-weight: 900;
    margin-bottom: 25px;
}
.main-slider .bxslider li .content-holder h2 {
    color: white;
    font-family: "Segoe UI";
    font-size: 48px;
    font-weight: 700;
    line-height: 36px;
}
.main-slider .bxslider li .content-holder .btn-wraper {
    text-align: left;
}
.main-slider .bxslider li .content-holder .btn-holder {
    border: 3px solid #fff;
    padding: 23px 24px;
    color: white;
    font-family: "Segoe UI";
    font-size: 24px;
    font-weight: 700;
    line-height: 18px;
    display: inline-block;
    margin-top: 78px;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
.main-slider .bxslider li .content-holder .btn-holder:hover {
    color: #247AD2;
    border-color: #247AD2;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}

/*///////////gen-header//////////////*/
.gen-header {
    margin-top: 140px;
    margin-bottom: 115px;
}
.gen-header h1 {
    color: #545353;
    font-family: "Segoe UI";
    font-size: 35px;
    font-weight: 400;
    line-height: 35px;
    text-align: center;
}


/*////////////////content//////////////////*/
.content h1 {
    margin-top: 0;
    line-height: 24px;
    color: #545353;
    font-family: "Segoe UI";
    font-size: 24px;
    margin-bottom: 43px;
    font-weight: 400;
}
.content p {
    line-height: 24px;
}
.content .btn-holder {
    border: 1px solid #247ad2;
    display: inline-block;
    padding: 11px;
    color: #247ad2;
    font-family: "Segoe UI";
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
    margin-top: 58px;
    min-width: 159px;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.content .btn-holder:hover {
    background: #247ad2;
    color: #fff;
    border-color: #fff;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}
.content .desc-holder {
    padding-right: 50px;
}
.content .desc-holder.right {
    padding-left: 50px;
} 

/*////////////items//////////////////*/
.items .product-item {
    height: 455px;
    border: 1px solid #ddd;
    padding-top: 14px;
}
.items .product-item .header-holder {
    margin-left: 13px;
}
.items .product-item .header-holder span {
    white-space: nowrap;
    padding-right: 15px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
}
 .items .product-item .header-holder h1 {
    margin-top: 0px;
    color: #247ad2;
    font-family: "Segoe UI";
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 15px;
    padding-right: 15px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.items .product-item .image-holder {
    height: 200px;
    margin-bottom: 13px;
}
.items .product-item .desc-holder {
    padding-left: 15px;
    padding-right: 15px;
    color: #5a5a5a;
    font-family: "Segoe UI";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    max-height: 72px;
    overflow: hidden;
}
.items .product-item .btn-holder {
    margin-top: 26px;
    margin-left: 12px;
}
.items .product-item .btn-holder:hover {
    opacity: .8;
}
.items .product-item .btn-holder a {
    color: #247ad2;
    font-family: "Segoe UI";
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
}

.items .slider-navs {
    text-align: center;
}
.items .slider-navs .slide-btn {
    display: inline-block;
    cursor: pointer;
    margin-left: 122px;
    margin-right: 122px;
}
.items .bx-wrapper .bx-pager {
    display: none;
}
.content .blueimp-gallery a.prev {
    background: url(../img/icons/left-nav-wt.png) no-repeat 1px;
    border: none;
    border-radius: 0;
    height: 49px;
    left: -45px;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    background-size: cover;
}
.content .blueimp-gallery:hover a.prev {
    left: 20px;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}
.content .blueimp-gallery a.next {
    background: url(../img/icons/right-nav-wt.png) no-repeat 1px;
    border: none;
    border-radius: 0;
    height: 49px;
    background-size: cover;
    right: -45px;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
.content .blueimp-gallery:hover a.next {
    right: 20px;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}


/*////////////number-blocks/////////////*/
.number-blocks {
    margin-bottom: 150px;
}
.number-blocks .num-block {
    float: left;
    margin-right: 50%;
    position: relative;
    padding-right: 90px;
}
.number-blocks .num-block:after {
    content: "";
    position: absolute;
    right: 0px;
    top: 0;
    width: 5px;
    height: 100%;
    background: #d4d2d2;
}
.number-blocks .num-block.rt {
    margin-left: 50%;
    padding-left: 90px;
    padding-right: 0;
    margin-right: 0;
}
.number-blocks .num-block.rt:after {
    left: -5px;
}
.number-blocks .num-block .round-num {
    position: absolute;
    top: 29px;
    right: -28px;
    width: 60px;
    height: 60px;
    border: 5px solid #d4d2d2;
    background: #fff;
    border-radius: 50%;
    color: #247ad2;
    font-family: "Segoe UI";
    font-size: 36px;
    font-weight: 600;
    line-height: 18px;
    text-align: center;
    padding-top: 13px;
    z-index: 1;
}
.number-blocks .num-block.rt .round-num {
    left: -32px;
    right: auto;
}
.number-blocks .num-block h1,
.number-blocks .num-block p {
    font-family: "Segoe UI";
    font-weight: 300;
    line-height: 18px;
    color: #292929;
    font-size: 24px;
}
.number-blocks .num-block p {
    color: #767777;
    font-size: 16px;
}

/*///////////footer//////////////*/
.footer {
    background: #292929;
    padding-top: 70px;
}
.social-nets h3 {
    color: white;
    font-family: "Segoe UI";
    font-size: 24px;
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 20px;
    margin-top: 0;
}
.social-nets li {
    margin-bottom: 10px;
}
.social-nets li a {
    color: white;
    font-family: "Segoe UI";
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
    text-decoration: none;
    -webkit-transition: color .5s;
    -o-transition: color .5s;
    transition: color .5s;
}
.social-nets li a:hover {
    color: #247ad2;
    -webkit-transition: color .2s;
    -o-transition: color .2s;
    transition: color .2s;
}
.social-nets li a i {
    margin-right: 10px;
}
.footer .rights {
    margin-bottom: 30px;
    margin-top: 90px;
    text-align: center;
    font-family: "Segoe UI";
    font-size: 16px;
    line-height: 24px;
    color: white;
    font-weight: 300;
}
.footer .rights .color {
    color: #247ad2;
}


/*////////////catalog///////////////*/
.catalog {
    margin-bottom: 200px;
}
.cat-block {
    padding-left: 480px;
    height: 360px;
    padding-top: 27px;
    padding-bottom: 27px;
    position: relative;
}
.cat-block.rt {
    padding-right: 480px;
    padding-left: 0;
}
.cat-block .image-holder {
    position: absolute;
    top: 0;
    left: 0;
}
.cat-block.rt .image-holder {
    position: absolute;
    top: 0;
    right: 0;
    left: auto;
}
.cat-block .white-body {
    background: #fff;
    position: relative;
    z-index: 2;
    height: 100%;
    padding: 28px 60px;
}
.cat-block .white-body h1 {
    margin-top: 0;
    color: #464545;
    font-family: "Segoe UI";
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 23px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.cat-block .white-body p {
    color: #545353;
    font-family: "Segoe UI";
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 12px;
    height: 120px;
    overflow: hidden;
}
.cat-block .white-body .btn-holder {
    margin-bottom: 14px;
}
.cat-block .white-body .btn-holder a {
    color: #292929;
    font-family: "Segoe UI";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    font-variant: small-caps;
    text-decoration: none;
}
.cat-block .white-body .price-holder {
    color: #195da3;
    font-family: "Segoe UI";
    font-size: 30px;
    font-weight: 300;
    line-height: 24px;
}
.cat-block .white-body .price-holder span {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/*////////////item-slider-wraper//////////////////*/
.item-slider-wraper {
    padding: 70px 60px;
    background: #e0e2e3;
}
.item-slider-wraper .bx-viewport {
    background: #e0e2e3;
}
.item-slider-wraper .bx-wrapper {
    margin-bottom: 0;
}
.item-slider-wraper .bx-viewport .product-item {
    background: #fff;
    padding: 20px;
    padding-top: 40px;
}
.item-slider-wraper .product-item .image-holder {
    width: 100%;
    height: 100%;
    float: left;
}
.item-slider-wraper .product-item .image-holder.first {
    height: 285px;
    width: 50%;
}
.item-slider-wraper .product-item .side-desc {
    width: 50%;
    float: left;
    padding-left: 20px;
}
.item-slider-wraper .product-item .side-desc h2 {
    color: #5a5a5a;
    font-family: "Segoe UI";
    font-weight: 300;
    font-size: 24px;
    margin-top: 0;
}
.item-slider-wraper .product-item .side-desc p {
    font-size: 18px;
    color: #5a5a5a;
    font-family: "Segoe UI";
    font-weight: 300;
    margin-bottom: 3px;
}
.item-slider-wraper .product-item .image-holder.first img {
    width: auto;
    height: 100%;
}
.item-slider-wraper .product-item .header-holder {
    margin-left: 0;
}
.item-slider-wraper .product-item .header-holder h1 {
    font-size: 24px;
    margin-bottom: 5px;
}
.item-slider-wraper .product-item .desc-holder {
    font-size: 14px;
    font-weight: 300;
    padding-left: 0;
    max-height: 256px;
}
.item-slider-wraper .product-item .btn-holder {
    margin-left: 0;
}
.item-slider-wraper .product-item .btn-holder a {
    color: #292929;
    font-variant: small-caps;
}
.item-slider-wraper .product-item {
    height: 402px;
}
.item-slider-wraper .bx-wrapper .bx-prev {
    background: url(../img/icons/right-nav.png) no-repeat 0 0px;
    height: 48px;
    right: -34px;
    width: 27px;
}
.item-slider-wraper .bx-wrapper .bx-next {
    background: url(../img/icons/left-nav.png) no-repeat 0 0px;
    height: 48px;
    left: -34px;
}
.product-nav ul {
    margin-left: 0;
    border-right: 1px solid #e5e2e2;
    border-bottom: 1px solid #e5e2e2;
    margin-bottom: 0;
}
.product-nav ul li  {
    padding: 0;
    text-align: center;
}
.product-nav ul li a {
    padding-top: 31px;
    padding-bottom: 31px;
    text-decoration: none;
     display: inline-block;
    color: #5a5a5a;
    font-family: "Segoe UI";
    font-size: 24px;
    font-weight: 300;
    line-height: 11px;
    padding-left: 35px;
    padding-right: 37px;
    border-left: 1px solid #e5e2e2;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.product-nav ul li a:hover {
    color: #247AD2;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}
/*//////////product-sell//////////////*/
.product-sell .side-desc {
    margin-top: 5px;
}
.product-sell .side-desc .breadcrums-block ul li a,
.product-sell .side-desc .breadcrums-block ul li  {
    color: #247ad2;
    font-family: "Segoe UI";
    font-size: 14px;
    font-weight: 400;
    line-height: 11px;
    text-decoration: underline;
}
.product-sell .side-desc .breadcrums-block ul li {
    text-decoration: none;
}
.product-sell .side-desc h1 {
    color: #247ad2;
    font-family: "Segoe UI";
    font-size: 30px;
}
.product-sell .side-desc p {
    color: #5a5a5a;
    font-family: "Segoe UI";
    font-size: 18px;
    font-weight: 300;
    height: 153px;
    overflow: hidden;
}
.product-sell .btn-wrap {
    text-align: right;
}
.product-sell .btn-holder {
    display: inline-block;
    padding: 5px;
    border: 1px solid #247AD2;
    color: #247ad2;
    font-family: "Segoe UI";
    font-size: 24px;
    font-weight: 300;
    padding-left: 22px;
    padding-right: 22px;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.product-sell .btn-holder:hover {
    background: #247AD2;
    color: #fff;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}
.product-sell .price-holder {
    height: 60px;
    background-color: #f6f4f4;
    box-shadow: -2px 2.3px 13px rgba(0, 0, 0, 0.22);
    position: absolute;
    bottom: 30px;
    left: -5px;
    color: #247ad2;
    font-family: "Segoe UI";
    font-size: 30px;
    font-weight: 300;
    line-height: 11px;
    padding-top: 21px;
    padding-left: 10px;
    padding-right: 10px;
}

/*///////////tecnical-desc//////////////*/
.desc-row {
    margin-top: 80px;
}
.tecnical-desc  h1 {
    color: #5a5a5a;
    font-family: "Segoe UI";
    font-size: 30px;
    font-weight: 300;
}
.tecnical-desc h2 {
    font-size: 24px;
    font-weight: 300;
    margin-top: 30px;    
}
.tecnical-desc {
    color: #5a5a5a;
    font-family: "Segoe UI";
    font-weight: 300;
    font-size: 18px;
}
.tecnical-desc .slider-holder {
    padding-left: 100px;
}



/*////////////////reviewSlider////////////////*/
.review-item {
    border-bottom: 2px solid #d8d8d8;
    padding-bottom: 40px;
}
.review-item  h1 {
    font-size: 24px;
    font-weight: 400;
}
.review-item time {
    display: inline-block;
    margin-bottom: 5px;
}
.tecnical-desc .bx-pager {
    display: none;
}
.tecnical-desc .bx-wrapper .bx-next,
.tecnical-desc .bx-wrapper .bx-next:hover {
    background: url(../img/icons/right-itemarr.png) no-repeat 0px 0px;
    right: 80px;
}
.tecnical-desc .bx-wrapper .bx-next:hover,
.tecnical-desc .bx-wrapper .bx-prev:hover {
    opacity: .8;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}
.tecnical-desc .bx-wrapper .bx-prev,
.tecnical-desc .bx-wrapper .bx-prev:hover {
    background: url(../img/icons/left-itemarr.png) no-repeat 0 0px;
    left: 80px;
}

.tecnical-desc .bx-controls-direction {
    bottom: -28px;
    position: relative;
}


/*///////////////callback////////////*/
.callback {
    text-align: center;
    margin-bottom: 100px;
}
.callback h1 {
    font-family: "Segoe UI";
    font-weight: 300;
    margin-bottom: 74px;
}
.callback form {
    width: 660px;
    display: inline-block;
}
.callback .inputs-holder input:first-child {
    margin-right: 18px;
}
.callback .inputs-holder input {
    width: 320px;
    height: 55px;
    display: block;
    float: left;
    padding-left: 13px;
    margin-bottom: 18px;
}
.callback .textarea-holder textarea {
    width: 100%;
    padding: 13px;
    resize: none;
    min-height: 120px; 
}
.callback .btn-holder {
    display: inline-block;
    padding: 15px;
    border: 1px solid #247ad2;
    color: #247ad2;
    font-family: "Segoe UI";
    font-size: 18px;
    font-weight: 600;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 30px;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.callback .btn-holder:hover {
    background: #247ad2;
    color: #fff;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}




#myModal-callback h4 {
    font-family: "Segoe UI";
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
}
#myModal-callback .modal-header,
#myModal-callback .modal-footer {
    border: none;
}
#myModal-callback .modal-body input {
    width: 100%;
    height: 50px;
    margin-bottom: 29px;
    padding-left: 10px;
}
#myModal-callback .modal-body .half-input {
    width: 155px;
    float: left;
}
#myModal-callback .modal-body .half-input.rt {
    float: right;
}
.modal-content {
    max-width: 380px;
    margin: 0 auto;
    border-radius: 0;
}
.modal-footer button {
    color: #fefefe;
    font-family: "Segoe UI";
    font-size: 18px;
    font-weight: 300;
    font-variant: small-caps;
    background: #247ad2;
    border: none;
    outline: none;
    padding: 9px;
    margin: 0 auto;
    width: 270px;
    display: block;
}

.side-socals {
    position: fixed;
    right: 0;
    top: 40%;
}
.side-socals .sc-block {
    width: 48px;
    height: 42px;
    opacity: 0.73;
    background-color: white;
    text-align: center;
    padding-top: 9px;
    margin-bottom: 5px;
}
.mycallback{
    position: fixed;
    right: 20px;
    bottom: 20px;
    display: block;
    -webkit-transform: rotate(11.5deg);
      -ms-transform: rotate(11.5deg);
          transform: rotate(11.5deg);
    -ms-transform-origin: center center;
      transform-origin: center center;
    -webkit-transform-origin: center center;
    -webkit-animation-name: mycallback;
          animation-name: mycallback;
    -webkit-animation-duration: 8s;
          animation-duration: 8s;
    -webkit-animation-iteration-count:infinite;
          animation-iteration-count:infinite;
}
@keyframes mycallback {
    0% {
        -webkit-transform: rotate(0deg);
    }
    1% {
        -webkit-transform: rotate(-11.5deg);transform: rotate(-11.5deg);
    }
    2% {
        -webkit-transform: rotate(11.5deg);transform: rotate(11.5deg);
    }
    3% {
        -webkit-transform: rotate(-11.5deg);transform: rotate(-11.5deg);
    }
    4% {
        -webkit-transform: rotate(11.5deg);transform: rotate(11.5deg);
    }
    5% {
        -webkit-transform: rotate(-11.5deg);transform: rotate(-11.5deg);
    }
    6% {
        -webkit-transform: rotate(11.5deg);transform: rotate(11.5deg);
    }
    7% {
        -webkit-transform: rotate(-11.5deg);transform: rotate(-11.5deg);
    }
    8% {
        -webkit-transform: rotate(11.5deg);transform: rotate(11.5deg);
    }
    9% {
        -webkit-transform: rotate(-11.5deg);transform: rotate(-11.5deg);
    }
    10% {
        -webkit-transform: rotate(11.5deg);transform: rotate(11.5deg);
    }
    11% {
        -webkit-transform: rotate(0deg);
    }
   100%   {
        -webkit-transform: rotate(0deg);
   }
}