@media (max-width: 1460px) {
	.main-slider .bxslider li .image-holder {
	    height: 430px; 
	} 
}
@media (max-width: 1200px) {
	.main-slider .bxslider li .content-holder .btn-holder {
		margin-top: 38px;
	}
	.main-slider .bxslider li .image-holder {
	    height: 370px; 
	} 
	.main-slider .bxslider li .content-holder {
		padding-top: 42px;
	}
	.items .bx-wrapper .bx-next {
	    right: 9px;
	}
	.items .bx-wrapper .bx-prev {
        left: 10px;
	}
	.item-slider-wraper .bx-wrapper .bx-prev {
	    left: -51px;
	}
	.item-slider-wraper .bx-wrapper .bx-next {
	    right: -53px;
	}
}
@media (max-width: 991px) {
	.item-slider-wraper .bx-viewport .product-item {
		padding-top: 20px;
	}
	.item-slider-wraper .product-item {
		height: 332px;
	}
	.item-slider-wraper .product-item .side-desc p {
		font-size: 14px;
		line-height: 16px;
	}
	.item-slider-wraper .product-item .side-desc h2 {
		font-size: 15px;
	}
	.item-slider-wraper .product-item .image-holder.first {
		height: 235px;
	}
	.item-slider-wraper .product-item .header-holder h1 {
		font-size: 16px;
	}
	.tecnical-desc .slider-holder {
		padding-left: 0;
	}
	.desc-row {
		margin-top: 20px;
	}
	.logo-line .email {
		margin-left: 0;
	}
	.logo-line a {
		font-size: 15px;
	}
	.logo-line .phone {
		margin-left: 0;
	}
	.logo-line .language a {
		margin-left: 4px;
	}
	.main-nav .navbar-default li a {
	    padding: 35px 14px;
	}
	.main-slider .bx-wrapper .bx-prev {
		left: 40px;
	}
	.main-slider .bx-wrapper .bx-next {
		right: 40px;
	}
	.main-slider .bxslider li .content-holder .btn-holder {
		margin-top: 38px;
	}
	.main-slider .bxslider li .content-holder {
		padding-top: 40px;
	}
	.content .desc-holder {
		padding-right: 10px;
	}
	.content .btn-holder {
		margin-top: 28px;
	}
	.items.bxs {
		width: 630px;
		margin: 0 auto;
	}
/*	.items.bxs .bx-wrapper .bx-next {
		left: 16px;
	}*/
/*	.items.bxs .bx-wrapper .bx-prev {
		right: 16px;
	}*/
	.content .desc-holder.right {
		padding-left: 0;
	}
	.content h1 {
		margin-bottom: 13px;
	}
	.number-blocks .num-block {
		padding-right: 60px; 
	}
	.number-blocks .num-block.rt {
	    padding-left: 60px;
	}
	.social-nets li a {
		font-size: 16px;
	}
	.cat-block {
		padding-left: 290px;
	}
	.cat-block.rt {
		padding-right: 290px;
	}
	.item-slider-wraper {
		padding: 70px 90px;
	}
	.product-nav ul li a {
		padding-left: 13px;
    	padding-right: 13px;
	}
	.main-slider .bxslider li .image-holder img {
	    height: 100%;
	    max-width: inherit;
	    width: auto;
	} 
}
@media (max-width: 767px) {
	.product-nav ul {
		border-left: 1px solid #e5e2e2;
	}
	.content .desc-holder p {
		max-height: inherit;
	}
	.content .image-holder {
		margin-top: 40px;
	}
	.content .desc-holder .btn-holder,
	.content .desc-holder .btn-holder.active {
		display: none;
	}
	.contacts h1 {
		font-size: 33px;
	}
	.main-nav .navbar-default li:first-child a {
		border-bottom: 1px solid #e5e2e2;
	}
	.main-nav .navbar-default li a span {
		display: block;
	    max-width: inherit;
	    max-height: inherit;
	    overflow: hidden;
	    text-align: center;
	}
	.side-socals,
	.mycallback {
		display: none;
	}
	.callback .inputs-holder input {
		width: 100%;
	}
	.callback form {
		width: 100%;
	}
	.product-nav ul li {
	    display: block;
    	border-bottom: 1px solid #E0E2E3;
	}
	.product-nav ul li a {
		border-left: none;
	}
	.item-slider-holder {
		width: 100%;
    	margin: 0 auto;
	}
	.cat-block {
		padding-left: 110px;
	}
	.cat-block.rt {
		padding-right: 110px;
	} 
	.main-slider .bxslider li .content-wraper {
		width: 450px;
	}
	.items.bxs {
		width: 300px;
	} 
	.gen-header {
	    margin-top: 50px;
    	margin-bottom: 50px;
	}
	.content .btn-holder {
		margin-bottom: 28px;
	}
	.logo-line .main-logo .image-holder {
		display: inline-block;
    	margin-bottom: 10px;
	}
	.logo-line .email {
		margin-bottom: 11px;
	}
	.logo-line .language {
		margin-top: 20px;
	}
	.logo-line .language a {
	    margin-left: 15px;
    	margin-right: 15px;
	}
	.logo-line {
		text-align: center;
	}
	.main-nav .navbar-default {
		border-bottom: none;
	}
	.main-nav .nav.navbar-nav.navbar-left {
		margin: 0;
	}
	.main-nav .navbar-header {
		border-bottom: 1px solid #e5e2e2;
	}
	.main-nav .navbar-default li a {
		border: none; 
		border-bottom: 1px solid #e5e2e2;
		display: block;
	}
	.main-nav .navbar-default li a br {
		display: none;
	}
	.main-nav .navbar-collapse {
		border: none; 
	}
	.main-slider .bxslider li .content-wraper {
		padding-left: 72px;
		padding-top: 40px;
	}
	.main-slider .bxslider li .content-holder .h-holder {
		width: 320px;
	}
	.main-slider .bxslider li .content-holder h1 {
		margin-bottom: 0;
		font-size: 24px;
		margin-top: 10px;
	}
	.main-slider .bxslider li .content-holder h2 {
		font-size: 25px;
		line-height: 15px;
		margin-top: 10px;
		margin-bottom: 0;
	}
	.main-slider .bxslider li .content-holder .btn-holder {
		padding: 9px 14px;
		font-size: 18px;
		line-height: 14px;
		margin-top: 18px;
	}
	.main-slider .bx-wrapper .bx-next {
		right: 10px;
	}
	.main-slider .bx-wrapper .bx-prev {
		left: 10px;
	}
	.main-slider .bx-wrapper .bx-controls-direction a {
		margin-top: -27px;
	}
/*	.items.bxs .bx-wrapper .bx-prev {
		right: 6px;
	}
	.items.bxs .bx-wrapper .bx-next {
		left: 6px;
	}*/
	.number-blocks .num-block {
		width: 100%;
		padding-right: 0;
		padding-left: 0;
		text-align: center;
		margin-top: 10px;
	}
	.number-blocks .num-block.rt {
		padding-left: 0;
    	margin-left: 0;
	}
	.number-blocks .num-block .round-num {
		position: static;
    	margin: 0 auto;
	}
	.number-blocks .num-block:after {
		display: none;
	}
	.footer {
		text-align: center;
	}
	.footer .logo-holder {
		margin-bottom: 40px;
	}
	.footer .social-nets {
		margin-bottom: 40px;
	}
}
@media (max-width: 600px) {
	.item-slider-wraper .bx-wrapper .bx-prev {
		right: 6px;
	}
	.item-slider-wraper .bx-wrapper .bx-next {
		left: 4px;
	}
	.item-slider-wraper {
	    padding: 70px 0px;
	}
	.cat-block {
		padding-left: 0px;
		padding-top: 150px;
	}
	.cat-block.rt {
		padding-right: 0px;
	}
	.cat-block .white-body {
		padding: 28px 18px;
	}
	.cat-block .white-body h1 {
		white-space: normal;
	}
	.cat-block {
		height: auto;
	}
}
@media (max-width: 505px) {
	#myModal-callback h4 {
		font-size: 22px;
	}
	#myModal-callback .modal-body .half-input {
		width: 100%;
	}
	.modal-footer button {
		width: 200px;
	}
	.productModal .modal-content {
	    padding: 40px 20px; 
	} 
	.main-slider .bxslider li .content-holder {
		padding-top: 100px;
	}
	.item-slider-wraper .product-item .image-holder img {
		width: auto;
		height: 100%;
	}
	.item-slider-wraper .product-item .side-desc {
		width: 100%;
	}
	.item-slider-wraper .product-item .image-holder.first {
		display: none;
	}
	.main-slider .bxslider li .content-wraper {
		padding-top: 0;
	}
	.main-slider .bxslider li .content-holder h2 {
		font-size: 17px;
	}
	.main-slider .bxslider li .content-holder .btn-holder {
		margin-top: 10px;
		font-size: 14px;
	}
	.item-slider-wraper .bx-wrapper .bx-prev,
	.item-slider-wraper .bx-wrapper .bx-next {
		display: none;
	}
	.items .item-slider-wraper .bx-wrapper .bx-pager {
		display: block;
	}
	.bx-wrapper .bx-pager.bx-default-pager a {
		background: #247ad2;
	}
	.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active {
		background: #ffF;
	}
	.our-contacts ul li .value {
		font-size: 14px;
	}
} 